MONGO_URL=mongodb+srv://<username>:<password>@<cluster-host>/syncoop?retryWrites=true&w=majority&appName=<app-name>
DB_NAME=syncoop
APP_ENV=local
FRONTEND_URL=http://localhost:3000
CORS_ORIGINS=https://syncoop.pages.dev
GOOGLE_OAUTH_CLIENT_ID=...........
GOOGLE_OAUTH_CLIENT_SECRET=
GOOGLE_OAUTH_REDIRECT_URI=................
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
